%h1
  = @topic.name
- if user_signed_in?
  = render :partial => 'resource_form'
- else
  #{link_to 'Sign in', login_path} or #{link_to 'register', register_path} to submit a new resource.
%h2 Resources
%ul
  - if @topic.resources_count.zero?
    None here.
    = link_to 'Add some!', new_resource_path + "?topic_id=#{@topic.id}"
  - else
    - @resources.each do |resource|
      %li
        %h3
          = link_to resource, resource
        .site
          = link_to resource.site, "http://#{resource.site}"
        .excerpt
          = resource.excerpt
        .level
          = resource.level
        - if resource.average_rating
          .rating
            Average rating:
            %span.rating-read-only{:id => "review-#{resource.id}"}= resource.average_rating
%br
%br
= link_to 'Suggest a new Topic!', new_topic_path, :class => 'ui-button'
= link_to 'See all Topics', topics_path, :class => 'ui-button'
