%h1
  = @topic.name
- if user_signed_in?
  = render :partial => 'resource_form'
- else
  = link_to 'Submit a resource', register_path, :class => 'ui-button'
%h2 Resources (#{@topic.resources_count})
%ul#resource-list
  - if @topic.resources_count.zero?
    None here.
    = link_to 'Add some!', new_resource_path + "?topic_id=#{@topic.id}"
  - else
    - @resources.each do |resource|
      %li
        %h3
          = image_tag "http://#{resource.site}/favicon.ico", :alt => '', :class => 'favicon'
          = link_to resource, resource
        .site
          = link_to resource.site, "http://#{resource.site}"
        .excerpt
          = resource.excerpt
        .level
          = resource.level
        - if resource.average_rating
          .rating
            Average rating:
            %span.rating-read-only{:id => "review-#{resource.id}"}= resource.average_rating
            (#{resource.reviews.size})
%br
%br
= link_to 'Suggest a new Topic!', new_topic_path, :class => 'ui-button'
= link_to 'See all Topics', topics_path, :class => 'ui-button'
