- if @user == current_user
  %b Public profile
  %br
  = link_to 'Edit my account', my_account_path, :class => 'ui-button'
%h1
  = @user
  - if @user == current_user
    (You!)
    = link_to('Set display name', my_account_path) if @user.display_name.blank?
%h2
  Resources
%ul
  - @user.created_resources.each do |resource|
    %li
      = link_to resource.name, resource_path(resource)
      (#{link_to resource.topic, resource.topic})