- content_for :sidebar do
  %h2 Newest Resources
  %ul.list
    - @resources.each do |resource|
      %li
        = link_to resource, resource
        (#{ link_to resource.topic })

#announce
  %h1
    Welcome to <em>knowpickle</em>, the site for learning stuff.
  %p
    All feedback is welcome - click #{link_to 'here', 'https://github.com/afeld/knowpickle/issues'}.
.topics-grid
  %h2 Choose a topic
  %ul
    - @topics.each_with_index do |topic, i|
      %li{:class => grid_class(i)}
        %h3.topic-grid-cell
          = link_to topic.name, topic
    %li.grid_2{:class => grid_class(@topics.size)}
      / .topic-grid-cell
      = link_to 'Suggest a topic', new_topic_path, :class => 'ui-button'
