%h1 Listing resources
%table
  %tr
    %th Name
    %th Excerpt
    %th Url
    %th Creator
    %th Topic
    %th
    %th
    %th
  - @resources.each do |resource|
    %tr
      %td= resource.name
      %td= resource.excerpt
      %td= resource.url
      %td= resource.creator_id
      %td= resource.topic_id
      %td= link_to 'Show', resource
      %td= link_to 'Edit', edit_resource_path(resource)
      %td= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Resource', new_resource_path
