%h1 Listing resources
%table
  %tr
    %th Name
    %th Excerpt
    %th Url
    %th Contributor
    %th Topic
    %th
    %th
    %th
  - @resources.each do |resource|
    %tr
      %td= resource.name
      %td= resource.excerpt
      %td= link_to resource.url, resource.url
      %td= resource.contributor_id
      %td= link_to resource.topic, resource.topic
      %td= link_to 'Show', resource
      %td= link_to 'Edit', edit_resource_path(resource)
      %td= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Resource', new_resource_path
