- if can? :update, @resource
  :javascript
    $(function(){
      enableEdit();
    });
%p
  %b Topic:
  = link_to @resource.topic, @resource.topic

- if can? :update, @resource
  = link_to 'Toggle edit', '#', :class => 'toggle-edit'
%h1
  = editable_field_if can?(:update, @resource), @resource, :name
%p
  = link_to editable_field_if(can?(:update, @resource), @resource, :url), @resource.url
%p
  %b Site:
  = link_to @resource.site, "http://#{@resource.site}"
%p
  %b Level:
  = editable_field_if can?(:update, @resource), @resource, :level, :type => 'select', :data => levels_json_string, :submit => 'OK'
%p
  %b Excerpt:
  = @resource.excerpt
%p
  %b Contributor:
  = @resource.contributor_id

= link_to 'Edit', edit_resource_path(@resource)
