%p
  %b Topic:
  = link_to @resource.topic, @resource.topic

%h1
  = link_to @resource.name, @resource.url
%p
  %b Site:
  = @resource.site
%p
  %b Level:
  = @resource.level
%p
  %b Excerpt:
  = @resource.excerpt
%p
  %b Creator:
  = @resource.creator_id

= link_to 'Edit', edit_resource_path(@resource)
