%p
  %b Name:
  = link_to @resource.name, @resource.url
%p
  %b Excerpt:
  = @resource.excerpt
%p
  %b Creator:
  = @resource.creator_id
%p
  %b Topic:
  = @resource.topic
= link_to 'Edit', edit_resource_path(@resource)
|
= link_to 'Back', resources_path
