- if can? :update, @resource
  :javascript
    $(function(){
      enableEdit();
    });
%p
  %b Topic:
  = link_to @resource.topic, @resource.topic

- if can? :update, @resource
  = link_to 'Edit', '#', :class => 'toggle-edit'
%h1
  = editable_field_if can?(:update, @resource), @resource, :name
%p
  = link_to editable_field_if(can?(:update, @resource), @resource, :url), @resource.url
%p
  %b Site:
  = link_to @resource.site, "http://#{@resource.site}"
%p
  %b Level:
  = editable_field_if can?(:update, @resource), @resource, :level, :type => 'select', :data => levels_json_string, :submit => 'OK'
%p
  %b Excerpt:
  = @resource.excerpt
%p
  %b Contributor:
  = @resource.contributor_id
.reviews
  %h3
    Reviews
  %p
    %b Average Rating:
    = @resource.average_rating
    = link_to "Review this!", (new_review_path + "?resource_id=#{@resource.id}")
  %ul
    - @reviews.each do |review|
      %li
        %b= review.rating
        = review.comment
  